extends index

block content
    div
        h6 ID: #{house.ID}
        h6 NAME: #{house.NAME}
        h6 LASTNAME: "Leon Jaramillo",
        h6 EMAIL: "pablito11",
        h6 TELNUMBER: "666",
        h6 ADDRESS: "Last call buena",
        h6 RESIDENTNUMBER: 8,
        h6 FLOORNUMBER: 6,
        h6 REVOKEHOUSE: "SI",
        h6 SMOKERSNUMBER: 5,
        h6 PETSNUMBER: 2,
        h6 FLOORMATERIAL: "Loza",
        h6 WALLSMATERIAL: "Granitpo",
        h6 PAINTTYPE: "Otros",
        h6 LATITUDE: "12",
        h6 ALTITUDE: "12"