extends layout
block content
  p API REST del sistema integrado airpal para ser consumida por los diferentes dispositivos de este
  ul
    each item in lista
      li
        a(href='/api' + item.href)=item.name
    
